@font-face {
    font-family: FasterOne-Regular;
    src: url("../font/FasterOne-Regular.ttf");
}

@font-face {
    font-family: Patua-One;
    src: url("../font/PatuaOne-Regular.ttf");
}

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.content1 {
    background-color: #1F2937;
    margin: 0;
    padding: 20px;
    min-width: 1100px;
}

.container1 {
    display: flex;
    justify-content: center;
    gap: 770px;
    align-items: center;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    font-family: FasterOne-Regular;
}

.links {
    display: flex;
    gap: 20px;
    flex-shrink: 0;
}

.container2 {
    display: flex;
    justify-content: center;
    gap: 200px;
    padding: 50px;
}

.container3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header-img {
    height: auto;
    width: 400px;
    border-radius: 10px;
    border-width: 5px;
    border-color: rgb(161, 153, 153);
    border-style: outset;
}

.title1 {
    font-size: 48px;
    font-weight: 500;
    color: #f9faf8;
    font-family: Patua-One;
}

.academy {
    display: block;
}

.text1 {
    width: 500px;
    font-size: 18px;
    color: #e5e7eb;
    margin-bottom: 5px;
}

.button1{
    font-size: 20px;
    font-weight: bold;
    background-color: #3882f6;
    color: white;
    border-radius: 5px;
    border-color: #3882f6;
    padding: 5px 25px;
    align-self: flex-start;
    border-style: solid;
    transition-duration: 0.4s;
    cursor: pointer;
}

.content2 {
    text-align: center;
    margin: 0;
    padding: 50px;
}

.facilities {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 30px;
    flex-wrap: wrap;
}

.title2 {
    font-size: 36px;
    font-weight: 500;
    color: #1F2937;
    font-family: Patua-One;
}

.info {
    padding: 50px 30px 0px 0px;
}

.facil-img {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 20px;
    border-width: 10px;
    border-color: #ffffff;
    border-style: inset;
}

.facil-text {
    width: 250px;
    font-size: 18px;
    color: #313131;
    padding: 10px;
}

.content3 {
    background-color: #e5e7eb;
    padding: 150px 300px;
}

.quote {
    font-size: 36px;
}

.quoter {
    text-align: end;
    font-size: 25px;
    font-weight: bold;
}

.TTA {
    background-color: rgb(211, 211, 211);
}

.content4 {
    display: flex;
    margin: 100px 150px;
    justify-content: space-between;
    align-items: center;
    background-color: #3882f6;
    padding: 40px 70px;
    border-radius: 10px;
}

.text2 {
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.button2 {
    background-color: #3882f6;
    border-style: solid;
    border-color: #e5e7eb;
    border-radius: 5px;
    font-size: 20px;
    padding: 5px 30px;
    color: white;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button1:hover, .button2:hover {
    background-color: #74a3f0;
}

.content5 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    background-color: #1F2937;
    color: white;
}